
/cocos2d
/proj.android
/proj.android-studio
/proj.ios_mac
/proj.linux
/proj.win8.1-universal
/proj.win10
/proj.win32/Shooter.vcxproj.user
*.DS_Store
/proj.win32/Shooter.VC.VC.opendb
/proj.win32/Shooter.VC.db
/proj.win32/Debug.win32/AppDelegate.obj
/proj.win32/Debug.win32/GameplayScene.obj
/proj.win32/Debug.win32/KeyboardController.obj
/proj.win32/Debug.win32/MainMenuScene.obj
/proj.win32/Debug.win32/OpenAL32.dll
/proj.win32/Debug.win32/OpenAL32.lib
/proj.win32/Debug.win32/Shooter.exe
/proj.win32/Debug.win32/Shooter.exp
/proj.win32/Debug.win32/Shooter.ilk
/proj.win32/Debug.win32/Shooter.lib
/proj.win32/Debug.win32/Shooter.log
/proj.win32/Debug.win32/Shooter.pdb
/proj.win32/Debug.win32/Shooter.tlog/CL.command.1.tlog
/proj.win32/Debug.win32/Shooter.tlog/CL.read.1.tlog
/proj.win32/Debug.win32/Shooter.tlog/CL.write.1.tlog
/proj.win32/Debug.win32/Shooter.tlog/Shooter.lastbuildstate
/proj.win32/Debug.win32/Shooter.tlog/Shooter.write.1u.tlog
/proj.win32/Debug.win32/Shooter.tlog/link.command.1.tlog
/proj.win32/Debug.win32/Shooter.tlog/link.read.1.tlog
/proj.win32/Debug.win32/Shooter.tlog/link.write.1.tlog
/proj.win32/Debug.win32/Shooter.tlog/rc.command.1.tlog
/proj.win32/Debug.win32/Shooter.tlog/rc.read.1.tlog
/proj.win32/Debug.win32/Shooter.tlog/rc.write.1.tlog
/proj.win32/Debug.win32/Shooter.vcxprojResolveAssemblyReference.cache
/proj.win32/Debug.win32/fonts/Marker Felt.ttf
/proj.win32/Debug.win32/fonts/arial.ttf
/proj.win32/Debug.win32/freetype.lib
/proj.win32/Debug.win32/game.res
/proj.win32/Debug.win32/glew32.dll
/proj.win32/Debug.win32/glew32.lib
/proj.win32/Debug.win32/glfw3-2015.lib
/proj.win32/Debug.win32/glfw3.lib
/proj.win32/Debug.win32/iconv.dll
/proj.win32/Debug.win32/libSpine.lib
/proj.win32/Debug.win32/libSpine.pdb
/proj.win32/Debug.win32/libbox2d.lib
/proj.win32/Debug.win32/libbox2d.pdb
/proj.win32/Debug.win32/libbullet.lib
/proj.win32/Debug.win32/libbullet.pdb
/proj.win32/Debug.win32/libchipmunk-2015.lib
/proj.win32/Debug.win32/libchipmunk.lib
/proj.win32/Debug.win32/libcocos2d.dll
/proj.win32/Debug.win32/libcocos2d.exp
/proj.win32/Debug.win32/libcocos2d.lib
/proj.win32/Debug.win32/libcocos2d.pdb
/proj.win32/Debug.win32/libcurl.dll
/proj.win32/Debug.win32/libcurl_imp.lib
/proj.win32/Debug.win32/libeay32.lib
/proj.win32/Debug.win32/libiconv.lib
/proj.win32/Debug.win32/libjpeg-2015.lib
/proj.win32/Debug.win32/libjpeg.lib
/proj.win32/Debug.win32/libmpg123.dll
/proj.win32/Debug.win32/libmpg123.lib
/proj.win32/Debug.win32/libogg.dll
/proj.win32/Debug.win32/libogg.lib
/proj.win32/Debug.win32/libpng-2015.lib
/proj.win32/Debug.win32/libpng.lib
/proj.win32/Debug.win32/librecast.lib
/proj.win32/Debug.win32/librecast.pdb
/proj.win32/Debug.win32/libtiff-2015.lib
/proj.win32/Debug.win32/libtiff.dll
/proj.win32/Debug.win32/libtiff.lib
/proj.win32/Debug.win32/libvorbis.dll
/proj.win32/Debug.win32/libvorbis.lib
/proj.win32/Debug.win32/libvorbisfile.dll
/proj.win32/Debug.win32/libvorbisfile.lib
/proj.win32/Debug.win32/libwebp.lib
/proj.win32/Debug.win32/libzlib.lib
/proj.win32/Debug.win32/main.obj
/proj.win32/Debug.win32/res/.gitkeep
/proj.win32/Debug.win32/sqlite3.dll
/proj.win32/Debug.win32/sqlite3.lib
/proj.win32/Debug.win32/ssleay32.lib
/proj.win32/Debug.win32/vc140.idb
/proj.win32/Debug.win32/vc140.pdb
/proj.win32/Debug.win32/websockets.lib
/proj.win32/Debug.win32/zlib1.dll
/proj.win32/Debug.win32/sprites/bullet.png
/proj.win32/Debug.win32/sprites/krolik.psd
/proj.win32/Debug.win32/sprites/monster.png
/proj.win32/Debug.win32/sprites/survivor-idle_rifle_0.png
/proj.win32/Debug.win32/Shooter.Build.CppClean.log
/proj.win32/Debug.win32/particles/SplatterBlood.plist
/proj.win32/Debug.win32/particles/particleSplatter_16.png
/proj.win32/Debug.win32/sprites/MonsterShape.xml
/proj.win32/game.aps
/proj.win32/Debug.win32/sprites/survivor.atlas
/proj.win32/Debug.win32/sprites/survivor.json
/proj.win32/Debug.win32/sprites/survivor.png